    /* width */
    ::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #03386F;
        padding-right:10px;
        border-radius:10px; 
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }
 
 
      
      input{
        outline:none;
        padding:3px;;
      }
      
      
      #lecture_b{
        color:yellow;
      }